<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Wuhuu {% block title %}{% endblock %}</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar">
            <a class="navbar-brand" href="#"><strong>Wuhuu</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="index.html">Index</a></li>
{% for page in pages|sort(attribute='src_path') if page.template == 'project.html' %}
                    <li class="nav-item"><a class="nav-link" href="{{ page.dst_path }}">{{ page.title }}</a></li>
{% endfor %}
                    <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row mt-5 pt-5">
                <div class="col">
                {% block content %}{{ content|markdown }}{% endblock %}
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/mdb.min.js"></script>
</body>
</html>
